<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>

	<h2>Locations:</h2>
	<table>
		<tr>
			<th>Id</th>
			<th>Code</th>
			<th>Name</th>
			<th>Type</th>
		</tr>

		<tr th:each="loc : ${locations}">
			<td th:text="${loc.id}"></td>
			<td th:text="${loc.code}"></td>
			<td th:text="${loc.name}"></td>
			<td th:text="${loc.type}"></td>

			<td><a th:href="@{'deleteLoc?id=' + ${loc.id}}">Delete</a></td>
			<td><a th:href="@{'showUpdate?id=' + ${loc.id}}">Edit</a></td>
		</tr>
		</c:forEach>
	</table>
	<a href="showCreate">Add Location</a>
</body>
</html>
